<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Compression.Base" version="32.1.25" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="32.1.25" targetFramework="net48" />
  <package id="Syncfusion.Pdf.WinForms" version="32.1.25" targetFramework="net48" />
  <package id="Syncfusion.PdfToImageConverter.WinForms" version="32.1.25" targetFramework="net48" />
  <package id="Syncfusion.PdfViewer.Windows" version="32.1.25" targetFramework="net48" />
  <package id="Syncfusion.Shared.Base" version="32.1.25" targetFramework="net48" />
  <package id="System.CodeDom" version="10.0.3" targetFramework="net48" />
  <package id="System.Management" version="10.0.3" targetFramework="net48" />
</packages>